<% bg_class =
  if !chore.completed?
    if chore.date_to_be_completed.present? && chore.date_to_be_completed < Date.today
      "bg-red-300"
    elsif chore.date_to_be_completed.present? && chore.date_to_be_completed <= 2.days.from_now.to_date
      "bg-yellow-300"
    else
      "bg-white"
    end
  else
    "bg-green-500"
  end
%>


<div class="flex flex-col <%= bg_class %> shadow rounded-lg p-3" data-chores-target="chores">
  <div class="flex justify-between items-center">
    <div class="flex items-center">
      <span class="ml-3 text-gray-800 text-lg <%= 'line-through text-gray-500' if chore.completed %>">
        <%= chore.name %>
      </span>
    </div>

    <div class="flex">
      <% if chore.user.present? %>
        <%= chore.user.name %>
      <% else %>
        <%= link_to edit_chore_path(chore), class: "flex items-center gap-1 bg-yellow-500 hover:bg-yellow-500 text-black px-4 py-1 rounded text-sm" do %>
          <i class="fa-solid fa-person"></i>
        <% end %>
      <% end %>

      <button type="button"
              data-chores-target="dropdown"
              data-action="click->chores#moreInfo">
        <i class="fas fa-chevron-down ml-1"></i>
      </button>
    </div>
  </div>

  <div data-chores-target="description" class="mt-2 text-gray-600 hidden">
    <div><%= chore.description %></div>
    <div class="<%= 'line-through' if chore.completed %>">
      Due Date: <%= chore.date_to_be_completed.strftime("%B %d, %Y") if chore.date_to_be_completed.present? %>
    </div>
  </div>
</div>
