<div class="relative h-full w-full px-4">
  <turbo-frame id="household_edit_frame">
    <%= form_with model: household, url: household_path(household), method: :patch,
                  data: { turbo_frame: "household_edit_frame" } do |form| %>

      <div class="mb-2">
        <label class="block text-sm text-gray-500 mb-1">Change title</label>
        <div class="flex items-center gap-2">
          <%= form.text_field :name, class: "border rounded px-2 py-1 text-xl font-semibold w-1/2" %>
          <%= form.submit "💾", class: "text-xl text-gray-700 hover:text-blue-600 bg-transparent border-none p-0" %>
        </div>
      </div>

      <div class="mt-4 mb-1">
        <p class="text-sm text-gray-500">Click ❌ to remove a member from the household</p>
      </div>

      <div class="flex justify-between items-center">

        <div class="flex flex-wrap gap-x-6 gap-y-4 items-center">
          <% household.users.each do |member| %>
            <div class="flex items-center space-x-2">
              <%= image_tag member.avatar_url, alt: member.name, class: "w-10 h-10 rounded-full object-cover" %>
              <%= button_to "❌", remove_member_household_path(household, user_id: member.id),
                method: :delete,
                form: { data: { turbo_frame: "household_edit_frame" }, class: "inline" },
                data: { confirm: "Remove #{member.name} from household?" },
                class: "text-xs text-red-600 bg-transparent border-none p-0.5 rounded shadow" %>
            </div>
          <% end %>
        </div>


        <%= link_to "Back", household_path(household),
            data: { turbo_frame: "household_edit_frame" },
            class: "text-sm text-gray-600 hover:text-blue-600 underline" %>
      </div>
    <% end %>
  </turbo-frame>
</div>
