<div class="flex flex-col gap-2 py-2 px-1"
  data-controller="chores">
    <%= link_to new_chore_path, class: "flex items-center gap-1 bg-blue-500 hover:bg-blue-500 text-white px-3 py-1 rounded text-sm", style: "width: 120px;" do %>
         New Chore
        <% end %>
  <% @chores.each do |chore| %>
    <div class="flex flex-col bg-white shadow rounded-lg p-3" data-chores-target="chores">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600" />
        <span class="ml-3 text-gray-800 text-lg"><%= chore.name %></span>

      </div>
        <div class="flex">
         <% if chore.user.present? %>
          <%= chore.user.name %>
          <% else %>
          <%= link_to edit_chore_path(chore), class: "flex items-center gap-1 bg-yellow-500 hover:bg-yellow-500 text-black px-4 py-1 rounded text-sm" do %>
          <i class="fa-solid fa-person"></i>
          <% end %>
        <% end %>


         <button type="button"
          data-chores-target="dropdown"
          data-action="click->chores#moreInfo">
          <i class="fas fa-chevron-down ml-1"></i>
        </button>

        </div>
    </div>
       <div data-chores-target="description" class="mt-2 text-gray-600 hidden">
          <div>
            <%= chore.description %>
          </div>
          <div>
             Due Date: <%= chore.date_to_be_completed.strftime("%B %d, %Y") if chore.date_to_be_completed.present? %>
          </div>
      </div>
    </div>
  <% end %>
</div>
